.setting{
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  .pwd{
    margin-top: 0.5rem;
  }
  .aboutUs{
    margin-top: 0.5rem;
  }
  .quit{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    button{
      width: 120px;
      height: 35px;
      border: 1px #008842 solid;
      background: #fff;
      color: #008842;
      font-size: 14px;
      border-radius: 5px;
      outline: 0;
    }
  }

}


